---
AlignAfterOpenBracket: Align
ColumnLimit:     0
IndentWidth:     4
TabWidth:        4
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignEscapedNewlines: Left 
AlignOperands: Align
InsertNewlineAtEOF: True
PointerAlignment: Left
QualifierAlignment: Left
ReferenceAlignment: Left
SpaceBeforeAssignmentOperators: True
AlignArrayOfStructures: Right
