startup_commands             toggle_visual_scroll;toggle_smooth_scroll_mode
should_launch_new_window 1

dark_mode_contrast 0.8
custom_background_color              0.18 0.20 0.25
custom_text_color                    0.7 0.7 0.7
ruler_mode  0

status_bar_color        0 0 0
status_bar_text_color   1 1 1
status_bar_font_size    10
